.centerTextContact {
   display: flex;
   flex-direction: column;
   align-items: center;

}
.centerTextContactText {
   margin: 30px 0px;
   width: 2048px;
   color: grey;
   font-family: Europa-Bold;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-transform: uppercase;
   text-align: center;
}
.centerTextContactTextForm {
   margin-top: 30px;
   color: #121416;
font-family: Europa-Bold;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;
text-align: center;
}
.centerTextContactTextForm p:nth-child(5) {
color: grey;
}
.centerTextContactTextForm p:nth-child(5):hover {
   color: black;
   text-decoration: underline;
   }
.centerTextContactTextForm span {
   color: rgb(103, 178, 248);
font-family: Europa-Bold;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 156.9%; /* 31.38px */
letter-spacing: 0.4px;
}

.NameBlockText {
   width: 200px;
   /* height: 30px; */
}
.form-wraper {
   width: 200px;
  
}

.form-wraper Button {
margin-left: 70px;
  
}
